<!--글 작성 연습-->

<% i = 1 %>
<% a = 1 %>

<% if i%4 == 1 %>
  <div class="col-md-12" style="padding:0">
<% end %>
<!--팀 생성 버튼-->
<% if a == 1 %>
    <div class="col-md-3" style="margin-top: 10px; <% if i%4 == 1 %><%= "padding:0px 5px 0px 10px;" %><% elsif i%4 == 0 %><%= "padding:0px 0px 0px 5px;" %><% else %><%= "padding:0px 5px 0px 5px;" %><% end %>">
      <div class="card" style="margin:0; background:#fff;">
          <!-- Button trigger modal -->
          <!--<button type="button" class="card-header bgm-lightblue"  style="padding: 10px 25px; background-color:rgba(3, 169, 244, 0.4) !important;" data-toggle="modal" data-target="#myModal2" >-->
          <!--  팀 생성-->
          <!--</button>-->
          <div type="button" class="card-header bgm-lightblue" style="padding: 10px 25px; background-color:rgba(3, 169, 244, 0.4) !important;" data-toggle="modal" data-target="#myModal2">
            <br>
            <br>
            <p style="font-size:18px; margin:0; font-weight:bold; text-align:center;">팀 생성</p>
            <br>
            <br>
          </div>
          <!--모달-->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <form action="/home/add_team" method="post">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">팀 생성하기</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <!--팀 속성 생성-->
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">팀 소속:</label>
                        <select name="school">
                          <% School.all.each do |s| %>
                            <option name="s_id" value="<%=s.id%>"><%=s.name%></option>
                          <% end%>
                        </select>
                      </div>
                      <!--팀 이름 생성-->
                      <div class="form-group">
                        <label for="team-name" class="control-label">팀 이름:</label>
                        <input type="text" name="team_name" class="form-control" id="team_name">
                      </div>
                      <!--팀 내용 생성-->
                      <div class="form-group">
                        <label for="intro_text" class="control-label">팀 내용:</label>
                        <textarea name="intro_text" class="form-control" id="intro_text"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary">생성</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
  <% a += 1 %>
  <% i += 1 %>
<% end %>
<% Team.all.each do |t| %>
  <div class="col-md-3" style="margin-top: 10px; <% if i%4 == 1 %><%= "padding:0px 5px 0px 10px;" %><% elsif i%4 == 0 %><%= "padding:0px 0px 0px 5px;" %><% else %><%= "padding:0px 5px 0px 5px;" %><% end %>">
      <div class="card" style="margin:0; background:#fff;">
          <div class="card-header bgm-lightblue" style="padding: 10px 25px; background-color:rgba(3, 169, 244, 0.4) !important;">
              <p style="font-size:18px; margin:0; font-weight:bold; text-align:center;"><%= t.name %></p>
              <p style="font-size:18px; margin:0; font-weight:bold; text-align:center;"><%= t.intro_text %></p>
              <p style="font-size:18px; margin:0; font-weight:bold; text-align:center;"><%= t.school.name %></p>
              <p style="font-size:18px; margin:0; font-weight:bold; text-align:center;"><%= User.find(UserTeam.find_by(team_id: t.id, power: 3).user_id).username%></p>
              <% powerUser=UserTeam.where(team_id: t.id ,power: 3)%>
              <% powerUser.each do |p|%>
                <%if current_user.id==p.user_id%>
                  <a href="/home/delete_team/<%= t.id %>"><span style="font-size:11.5px; color:#000 !important">[삭제]</span></a>
                <% end %>
              <%end%>
          </div>
      </div>
  </div>
  
  <% i += 1 %>
<% end%>