
<div style="margin-top:auto; padding:0;"/>
    <div class="container ctn">
        <div class="row" style="height:288px;">
            <div class="card col-md-3" style="height:100%;padding:0; margin:0">
                <%= render partial: 'home/index/top_profile'%>
            </div>
            <div class="card col-md-6" style="height:100%;padding: 0;margin: 0; background:none; border:none;">
        		    <%= render partial: 'home/index/top_carousel'%>
        	</div>
        		<!--3번째-->
        	<div class="card rating-list col-md-3" style="margin: 0; height:100%">
              <%= render partial: 'home/index/top_rank_vm'%>
            </div>
        </div>
    </div>
    
    <div class="container" style="padding-top: 0.4%;">
        <div class="row" style="padding:0;">
            <div class="col-md-3" style="padding:0; height:100%; margin:0;">
                <%=render partial: 'home/index/team_infopage' %>
            </div>
            <div class="col-md-9" style="padding:0; margin:-10px 0px 0px 0px;">
                <%= render partial: 'home/index/add_team_vm'%>
            </div>
        </div>
    </div>
    
    <!--<div class="fixed col-md-12">-->
    <!--    <div class="col-md-2"></div>-->
    <!--    <div class="col-md-9">-->
    <!--        <div class="col-md-10"></div>-->
    <!--        <div class="col-md-2">-->
    <!--            <div class="col-md-2"></div>-->
    <!--            <div class="col-md-10">-->
    <!--                <div class="banner"></div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="col-md-1"></div>-->
    <!--</div>-->
</div>
<style>
    .fixed{
        position: fixed;
        top:9.5%;
    }
    .banner{
        width:100%;
        height:100px;
        top:0;
        
        background:#000;
    }
</style>

    