<%= render partial: 'up_navbar' %>



<div style="margin-top:-20px; padding:0;"/>
    <div class="container ctn">
         <div class="row" style="margin-bottom: 10px;margin-top: 30px;">
            <% t = Team.find(@team.id)%>
            
            <% if t.deadline != nil%>
              <% td = DateTime.now.strftime('%s').to_f %>
              <% cd = t.created_at.strftime('%s').to_f %>
              <% ed = t.deadline.to_datetime.strftime('%s').to_f %>
              <% res = ((td-cd)/(ed-cd)).round(2)*100%>
              <% res = ((td-cd)/(cd)).round(2)*100%>
            <div class="progress" style="height: 30px">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=res %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: <%=res %>%;">
                <%=res.round %>%
              </div>
            </div>
             <% end %>
          </div>

        <div class="row" style="height:500px;">
          <div class="col-md-9">
          <div class="row">
            <div class="card col-md-4" style="padding:0px 5px 0px 10px;right: 5px;">
                <%= render partial: 'home/team/team_info_vm'%>
                
            </div>
            
            
                
            <div class="card col-md-8" style="height:50%;padding: 0;margin: 0; background:none; border:none;">
          		<%= render partial: 'home/team/team_listofpost'%>
          	</div>
          </div>
          <div class="row"  style="margin-top: 20px;">
            <div class="card col-md-4">
              <%= render partial: 'home/team/team_arco'%> <!--- 이거 아코디언임 -->
            </div>
            <div class="card col-md-8">
              
            </div>
          </div>
          </div>
        		<!--3번째-->
        	<div class="card rating-list col-md-3" style="margin: 0;left:5px;">
              <%= render partial: 'home/team/team_schedule'%>
          </div>
            
             
            
        </div>

        
    </div>
    
  
</div>


    