<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    
    <title>팀플 매니저</title>
    <!--<%#= stylesheet_link_tag    'application', media: 'all' %>-->
    <!--<%#= javascript_include_tag 'application' %>-->
    <%= csrf_meta_tags %>
     <link rel="icon" href="https://s3.ap-northeast-2.amazonaws.com/timple/use/cute_leo.png">
    <!--################ 부트스트랩 CDN ###################-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
    <!--###################################################-->
<!--      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<!--<script type='text/javascript' src='js/jquery.simplemodal.js'></script>-->



    <!--################# 머티리얼 어드민 ASSETS ###################-->
        <!-- Vendor CSS -->
        <link href="/mtl/vendors/bower_components/mediaelement/build/mediaelementplayer.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
    
        <!-- CSS -->
        <link href="/mtl/css/app.min.1.css" rel="stylesheet">
        <link href="/mtl/css/app.min.2.css" rel="stylesheet">
    <!--############################################################-->
        <!--custom-->
        <link href="/mtl/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
        <link href="/mtl/vendors/farbtastic/farbtastic.css" rel="stylesheet">
        <link href="/mtl/vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
        <link href="/mtl/vendors/summernote/dist/summernote.css" rel="stylesheet">
        

        <link href="/mtl/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" media="all" href="/home/home.css" />-->
    
<!--머터리얼디자인     -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

</head>
<body>
    <div id="wrapper">
    <!--<p class="notice"><%#= notice %></p>-->
    <!--<p class="alert"><%#= alert %></p>-->
    <%= render partial: 'up_navbar' %>
        <div id="content">
        <%= yield %>
        </div>
        
            <%= render partial: 'footer' %>
		
    </div>
     
      <%= render :partial => 'home/bottom_script' %>
</body>
</html>
